apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.5/manifests/install.yaml
  - base/namespace.yml
  - base/argo-project.yml
  - base/argo-app.yml
# components:
#   - https://github.com/argoproj-labs/argocd-extensions/manifests

# changes to config maps
patches:
  - path: overlays/production/argo-cd-cm.yaml
# patches:
#   - path: https://raw.githubusercontent.com/argoproj/argo-cd/refs/tags/v2.12.4/notifications_catalog/install.yaml

# patchesJson6902:
# - path: overlays/deploy-command.yaml
#   target:
#     group: apps
#     kind: Deployment
#     name: argocd-server
#     version: v1
