name: Check PR title

on:
  workflow_call:

jobs:
  check-pr-title:
    name: Check PR title
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"
          cache: "npm"
      - shell: bash
        run: npm ci

      - name: Check PR title
        run: |
          npx commitlint <<< '${{ github.event.pull_request.title }}'
