name: Prettier

on:
  workflow_call:

jobs:
  prettier:
    name: prettier check
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "24"
          cache: "npm"
      - shell: bash
        run: npm ci

      - name: Prettier check
        run: npx prettier --check .
