name: Prettier

on:
  workflow_call:

jobs:
  prettier:
    name: prettier check
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: "npm"
      - shell: bash
        run: npm ci

      - name: Prettier check
        run: npx prettier --check .
